.Row4{
    .Title{
        color: rgb(28, 28, 28);
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: 500;
        margin: 0px 0px 3.2rem;
    }
    .CardRow{
        .card:hover{
             box-shadow: 0 0 7px 1px rgb(221, 218, 218);
             cursor: pointer;
        }
        .card{
            box-shadow: none;
            border: 0;
            border-radius: 15px;
            .ant-card-cover{
                position: relative;
                padding: .5rem;
                height: 250px;
                .img{
                    object-fit: cover;
                    height: 100%;
                    border-radius: 15px;
                }
            }
            .ant-card-body{
                padding: .5rem;
            }
            .discountdiv{
                color: white;
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 210px;
                width:87%;
               .disDiv{
                   background-color: rgb(53, 111, 239);
                   padding: 0 10px;
               }
               .mindiv{
                   background-color: rgb(214, 216, 218);
                   border-radius: 7px;
                   padding: 0 10px;
                   color: black;
               }
            }
            .titlediv{
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                .Ttdiv{
                    max-width: 230px;
                }
                .title{
                    line-height: 1.2;
                    margin-block-end: 0px;
                    text-align: left;
                    font-size: 1.2rem;
                    margin: 0;
                    max-width: 100%;
                    color: rgb(28, 28, 28);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 500;
                }
                .badge{
                    background-color: rgb(61, 150, 63);
                    border-radius: 7px;
                    .space{
                        padding:  0 5px;
                        .para{
                            margin: 0;
                            color: white;
                        }
                        .stardiv{
                            display: flex;
                            align-items: center;
                            .staricon{
                                color: white;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            .description_div{
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                .Desc_1{
                    width: 70%;
                }
                .Desc_2{
                    width: 30%;
                    text-align: end;
                }
            }
            .divider{
                margin: 0;
                border-top: 1px solid rgba(172, 169, 169, 0.397);
            }
            .Card_foot{
                margin: 10px 0;
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                .Desc_1{
                    display: flex;
                    align-items: center;
                    max-width: 85%;
                    .imgdiv{
                        width:19px;
                        .img{
                            width: 100%;
                            height: 100%;
                            padding-right: 4px;
                        }
                    }
                    .div2{
                        width: 87%;
                        .para{
                            margin-block-end: 0px;
                             text-align: left;
                            margin: 0;
                            max-width: 95%;
                            color: rgb(141, 139, 139);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
                .Desk_2{
                    width: 15%;
                    .img2{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:475px) {
    .Row4{
        .CardRow{
            .card{
                 box-shadow: 0 0 7px 1px rgb(221, 218, 218);
                 cursor: pointer;
            }
        }
    }
}
@media screen and (min-width:475px) and (max-width:768px){
    .Row4{  
        .CardRow{ 
            .card{
                .titlediv{
                    .Ttdiv{
                        max-width: 140px;
                    }
                }
            }
        }   
    }
}