.site-custom-tab-bar {
    z-index: 1;
    background: #fff;
  }

.TabContainer{
    position: relative;
    .Header{
        margin-top: 4px;
        position: static;
    }
    .Row1tab{
        padding: .6rem 0;
        .ant-breadcrumb a {
            color: rgb(130, 130, 130);
            transition: color 0.3s;
            font-size: 10px;
            &:hover{
                color: rgb(211, 90, 102);
            }
        }
        .ant-breadcrumb > span:last-child a{
            color: rgb(214, 212, 212);
        }
    }
    .Tabs{
        padding-bottom: 5rem;
        .ant-tabs-nav{
            margin: 0;
            z-index: 4;
            .ant-tabs-nav-wrap{
                padding: 0 13%;
                .ant-tabs-nav-list{
                    font-size: 20px;
                    .ant-tabs-tab-btn{
                        font-size: 18px;
                    }
                    .ant-tabs-tab-btn:focus{

                    }
                    .ant-tabs-tab-btn:active{
                        color: rgb(239, 116, 129);
                    }
                }
            }
        }
        .ant-tabs-ink-bar {
            background-color: rgb(239, 116, 129);
        }
        .ant-tabs-tab{
            color: #848484;
        }
        .ant-tabs-tab:hover{
            color: #848484;
        }
        .span1{
            // margin-left: 13px;
        }        
        .span{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .span3{
            padding-right: 13px;
        }
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
            color: rgb(239, 116, 129);
            .deliverydiv1{
                background-color: rgb(252, 238, 192);
            }
            .deliverydiv2{
                background-color: rgb(229, 243, 243);
            }
            .deliverydiv3{
                background-color: rgb(237, 244, 255);
            }
        }
        .tabpane1{
            .tabs1span{
                display: none;
                // display: flex;
                // align-items: center;
                // flex-direction: column;
            }
        }
        .deliverydiv1{
            display: inline-block;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: rgb(248, 248, 248);
            padding: 7px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .img{
                width: 27px;
            }
        }
        .deliverydiv2{
            display: inline-block;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: rgb(248, 248, 248);
            padding: 7px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .img{
                width: 27px;
            }
        }
        .deliverydiv3{
            display: inline-block;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: rgb(248, 248, 248);
            padding: 7px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .img{
                width: 27px;
            }
        }
    }
}
@media screen and (min-width:576px) and (max-width:1024px) {
    .TabContainer{
        .Tabs{
            .ant-tabs-nav{
                margin: 0;
                .ant-tabs-nav-wrap{
                    padding: 0 4%;
                }
            }
        }
    }
}
@media screen and (max-width:576px) {
    .TabContainer{
        .Tabs{
            .ant-tabs-nav{
                margin: 0;
                .ant-tabs-nav-wrap{
                    padding: 0 0;
                }
            }
        }
    }
}