.card{
    .img{
        width: 100%;
        height: 310px;
        border-radius:5px;
        position: static;
        z-index: 1;   
        object-fit: cover;
    }
    width: 100%;
    position: relative;
    box-shadow: 0 0 3px 1px rgb(212, 209, 209);
    border-radius: 5px;
    .meta{
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 90%);
        border-radius: 10px;
        z-index: 2;
        padding-top: 40px;
        padding-left: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        bottom: 0;
        flex-direction: column;
        justify-content: end;
        .title{
            margin: 0;
            padding: 0;
            color: white;
            font-size: 16px;
        }
        .para{
            color: white;
        }
    }
}

@media screen and (min-width:475px) and (max-width:768px){
     
}