
.ant-input-affix-wrapper{
    border-radius: 10px;
    .ant-input{
        height: 26px;
    }
}
.ant-radio-checked .ant-radio-inner{
    border-color: rgb(239, 79, 95) !important;
    // box-shadow: none !important;

}
.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner{
    border-color: rgb(239, 79, 95) !important;
    outline: none !important;
    box-shadow: none !important;

}
.ant-radio-input:focus{
    border: none;
    box-shadow:none;
    outline: none;
}
.ant-modal-mask{
    background-color:  rgba(28, 28, 28, 0.823);
}
.ant-modal-wrap{
    display: flex;
    align-items: center;
    .modal{
        width: 698px !important;
        top: 0;
        .ant-modal-content{
            border-radius: 10px;
            .ant-modal-header{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                .Model_Title{
                    margin: 0;
                    font-size: large;
                    font-weight: 300;
                }
            }
        }
        .ant-modal-body{
            padding: 0px;
            font-size: 14px;
            line-height: 1.5715;
            word-wrap: break-word;
            .SortBy_Space{
                margin-top: 26px;
                .ant-space-item{
                    margin-bottom: 8px;
                }
            }
        }
        .ant-modal-footer{
            margin-top: 20px;
            .Apply_btn{
                background: border-box rgb(239, 79, 95);
                color: white;
                border: 1px solid rgb(239, 79, 95);
                border-radius: 7px;
                height: 40px;
                padding: 0 28px;
                font-size: 17px;
                &:hover{
                    background-color: rgb(228, 62, 79);
                }
            }
            .Clear_All{
                border: 1px solid rgb(169, 168, 168);
                border-radius: 7px;
                height: 40px;
                padding: 0 28px;
                font-size: 17px;
            }
        }
        .title{
            margin: 0;
            font-weight: 10;
            font-size: large;
            color: black;
        }
        .para{
            margin: 0;
            color: rgb(239, 79, 95);
        }
        .slider_div{
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            .slider{
                width: 90%;
                .ant-slider-track{
                    background-color: rgb(239, 79, 95);
                }
            }
            .slider_mobile{
                // width: 7%;
                display: none;
            }
        }
        .Cuisines_div{
            padding-right: 16px;
            padding-top: 10px;
            .Cuisines_Input{
                margin-bottom: 10px;
            }
        }
        .More_filters{
            padding-right: 16px;
            padding-top: 10px;
            .More_Filter_Input{
                margin-bottom: 10px;
            }
        }
    .ant-tabs-nav-list{
        width: 155px;
        .ant-tabs-tab{
            padding: 42px 25px;
            height: 3rem;
            background-color: rgb(243, 243, 243);
            .ant-tabs-tab-btn{
                text-align: start;
            }
        }
        .ant-tabs-tab-active{
            background-color: rgb(255, 255, 255);
        }
        }
        .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab{
            margin: 0px 0 0 0;
        }
        .ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar{
            height: 80px;
            width: 0.3rem;
            left: 0px;
            background-color: rgb(255, 126, 139);
            border-radius: 2px;
            top: 0px;
            display: initial;

        }
        .ant-form-item-control-input-content{
            height: 300px;
            overflow: auto;
            margin-right: 25px;
            .ant-checkbox-group{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
            .ant-checkbox-wrapper{
                padding: 10px;
                width: 43%;
            }
        }
    }
    .ant-slider-handle{
        border: 2px solid rgb(239, 79, 95);
    
        }
        .ant-slider-handle:hover{
            border:2px solid rgb(239, 79, 95)
        }
    }
}
.container{
    position: relative;
    .div_previcon{
        min-width: 35px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 7px 1px rgb(189, 188, 188);
        background-color: white;
        .imgicon{
            width: 50%;
            border-radius: 50%;
        }
    }
    .prevArrow{
        position: absolute;
        z-index: 3;
        left: -5px;
        top: 0rem;
        border-radius: 50%;
        height: 100%;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 3rem;

        .prevArrowicon{
            border-radius: 50%;
            background-color: white;
            width: 100%;
            font-size: 2.5rem;
        }
    }
    .nextArrow{
        position: absolute;
        z-index: 3;
        top: 0rem;
        right: -10px;
        height: 100%;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 3rem;
        .nextArrowicon{
            border-radius: 50%;
            background-color: white;
            width: 100%;
            font-size: 2.6rem;
        }
    }
    .Row1{
        padding: 30px 0;
        background-color: white;  
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 5;
        .Col1{
            .ant-btn:hover, .ant-btn:focus {
                color: rgb(196, 196, 196);
                border-color: rgb(177, 177, 177);
                background: #fff;
            }
            .Space{
                flex-wrap: wrap;
                padding-right: 25px;
                .btn{
                    display: flex;
                    align-items: center;
                    border-radius: 7px;
                    height: 40px;
                    .span{
                        padding-left: 5px;
                        color: rgb(107, 104, 104);
                    }
                }
        
            }
        }
    }
    .tagname{
        display: flex;
        flex-wrap: nowrap
    }
    .Row2{
        padding: 2rem 0px;
        background-color: rgb(247, 247, 247);
        .Title{
            color: rgb(28, 28, 28);
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
            // margin: 0px 0px 3.2rem;
        }
        .outdiv{
            padding: 0 .5rem;
            
        }
        .commandiv{
            .imgdiv{
                width: 100%;
                border-radius: 10px;
                height: 200px;
                .img{
                    border-radius: 7px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    box-shadow:rgba(0, 0, 0, .1) 0px 3px 12px  ;
                }
            }
            .title{
                margin:0.6rem 0 0;
                font-size: 1.3rem;
            }
        }
        .mobailview_Row1{
            .coverDiv{
                display: none;
            }
        }
    }
    .Row3{
        padding: 2rem 0px;
        .Title{
            color: rgb(28, 28, 28);
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
        }
        .outdiv{
            padding: 0 1rem;
            .commandiv{
                padding: 7px 0;
                .imgdiv{
                    height: 160px;
                    box-sizing: border-box;
                   
                    border-radius: 10%;
                    .img{
                        box-shadow: 0px 0px 3px 1px rgb(225, 225, 225);
                        border-radius: 10%;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            } 
            .title{
                line-height: 1.2;
                color: rgb(28, 28, 28);
                text-align: center;
                margin: .6rem 0px
            }  
        }
    }
    .Row4{
        .Title{
            color: rgb(28, 28, 28);
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
            margin: 0px 0px 3.2rem;
        }
    }

}
@media screen and (max-width:576px) {
    .ant-popover-inner{
        width: 90%;
    }
    .ant-modal-wrap{
        display: flex;
        align-items: center;
        .modal{
            .slider_div{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .slider{
                    width: 90%;
                    .ant-slider-track{
                        background-color: rgb(239, 79, 95);
                    }
                }
                .slider_desktop{
                    display: none;
                }
                .slider_mobile{
                    display: block;
                    width: 7%;
                    height: 300px;
                    .ant-slider-mark {
                        top: 0;
                        left: -44px;
                        width: 18px;
                        height: 100%;
                    }
                }
            }
        }
    }
    .container{
        .Row1{
            overflow: auto;
            .Col1{
                .Space{
                    flex-wrap: nowrap;
                }
            }
        }
        .Row1::-webkit-scrollbar{
            display: none;
        }
        .Row2{
            .Title{
                font-size: 22px;
            }
            .Rows1{
                display: none;
            }
            .mobailview_Row1{
                .coverDiv{
                    display: block;
                    border-radius: 15px;
                    .imgdiv{
                        height: 75px;
                        .img{
                            width: 100%;
                            height: 100%;
                            border-top-right-radius: 15px;
                            border-top-left-radius: 15px;
                            object-fit: cover;
                        }
                    }
                    .para{
                        font-size: large;
                        padding: 2px 0;
                        border: 1px solid rgb(232, 232, 232);
                        border-radius: 0px 0px 0.8rem 0.8rem;   
                        box-sizing: border-box;
                        -webkit-box-align: center; 
                        bottom: 0px;
                        left: 0px;
                        background: white;
                        font-size: 16px;
                    }
                }
            }
        }
        .Row3{
            padding: 1rem 0 ;
            .Title{
                font-size: 22px;
            }
            .outdiv{
                padding: 0 7px;
                .commandiv{
                    .imgdiv{
                        height: 110px;
                        padding: 7px 0;
                    }
                }  
            }
        }
        .Row4{
            .Title{
                font-size: 22px;
            }
        }
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    .container{
        .Row2{
            .outdiv{
                padding: 0 .5rem;
                width: 100%;
            }
            .commandiv{
                .imgdiv{
                    width: 250px;
                    height: 190px;
                    .img{
                        border-radius: 7px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        box-shadow:rgba(0, 0, 0, .1) 0px 3px 12px  ;
                    }
                }
            }
        }
        .Row3{
            .outdiv{
                padding: 0 .5rem;
                width: 100%;
            }
            .commandiv{
                width: 160px;
                .imgdiv{
                    width: inherit;
                    height: 190px;
                    .img{
                        border-radius: 7px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        box-shadow:rgba(0, 0, 0, .1) 0px 3px 12px  ;
                    }
                }
            }
        }
    }
}
