.homecontainer{
    position: relative;
    .div1{
        position: relative;
        .innerdiv1{
            background: rgb(102, 101, 101);
            height: calc(100vh - 30rem);
            min-height: 24.5rem;
            width: 100%;
            position: relative;
            overflow: hidden;
            .low-res-container{
                overflow: hidden;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                transition: all 1.4s ease 0s;
                .high-res-image {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transform: scale(1.1);
                    opacity: 1;
                    transition: all 1.4s ease 0s;
                }
            }
        }
    }
    .Row1{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        align-content: center;
        background: url("../../assets/ZomatoBg.avif");
        background-size: cover;
        .ant-typography, .ant-typography p {
            margin-bottom: 10px;
        }
        .heading{
            color: white;
            font-size: 5.6rem;
            margin: 0;
        }
        .para{
            color: white;
            font-size: 2.5rem;
            font-weight: 400px;
        }
        .low-res-image{
            height: 60px;
            margin-bottom: 30px;
        }
        .innerRow1{
            .innerdiv{
                background-color: white;
                padding: .4em 10px;
                border-radius: 0.8rem;
                border: 1px solid rgb(232, 232, 232);
                .Col1{
                    .ant-space{
                        width: 100%;
                    }
                    .ant-space-item{
                        width: 100%;
                    }
                    .itemdiv{
                        display: flex;
                        align-items: center;
                        .icon{
                            font-size: 25px;
                            width:"30px";
                            color: rgb(240, 125, 139);
                            flex-grow: 1;
                        }
                        .form{
                            flex-grow: 8;
                            .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
                                align-self: center;
                            }
                            .ant-select-focused{
                                border: none;
                                outline: none;
                                box-shadow: none;
                                color: none;
                            }
                        }
                    }
                }
                .ant-form-item{
                    margin-bottom: 0;
                    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
                        border: 0px solid white;
                    }
                    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                        width: 100%;
                        height: 41px;
                        padding: 0 11px;
                    }
                    .ant-input-affix-wrapper {
                        border: 0;
                    }
                }
                .Col2{
                    .ant-space{
                        width: 100%;
                    }
                    .ant-space-item{
                        width: 100%;
                    }
                    .vrBorder{
                        border-left: 2px solid rgb(170, 170, 170);
                        height: 30px;
                        margin-left: 13px;
                    }
                    .input-prefix{
                        margin: 2.8px 0.4rem 1px -1px;
                    }
                    .ant-input-affix-wrapper-focused{
                        box-shadow:none;
                    }
                    .ant-select-focused{
                        border-color: red !important;
                        box-shadow: 0 0 2px 1px red !important;
                        border: none !important;
                        outline: none !important;
                    }                       
                }
            }
        }
    }
}
.outRow1{
    margin-top: 38px;
    .innerRow1{
        .img{
            height: 167px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .card{
            box-shadow: 0 0 1px 1px rgb(220, 220, 220);
            border-radius: 20px;
            font-size: large;
            transition: .4s;
            .ant-card-meta-title{
                margin-bottom: 0;
                text-align: left;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        .card:hover{
            transform: scale(1.04);
        }
    }

    .innerRow2{
        margin-top: 60px ;
        margin-bottom: 20px;
        .title{
            font-weight: 200;
            margin: 0;
            font-size: 2rem;
        }
        .para{
            font-size: 18px;
        }
    }

  
    .innerRow4{
        margin-top: 6rem;
        .title{
            font-size: 2.3rem;
            font-weight: 400;               
        }
    }
    .innerRow5{
        margin-top: 1rem;
        padding-bottom:5rem;
        .div1{
            box-shadow: 0 0 2px 1px rgb(227, 220, 220);
            border-radius: 5px;
            padding: 1rem 12px;
            display: flex;
            align-items: center;
            .paramain{
                font-size: 18px;
                margin: 0;
                flex-grow: 9;
            }
            .para{
                flex-grow: 1;
                margin: 0;
            }
        }
    }
}
.outRow2{
    background-color: rgb(254, 251, 247);
    min-height: 4rem;
    .innerRow1{
        .Col1{
            .imgdiv{
                .img{
                    width: 100%;
                }
            }
        }
        .Col2{
            padding: 4% 0;
            .Cold2iv1{
                padding-left:2rem;
                padding-right: 20px;
                .title{
                    font-weight: 500;
                    font-size: 2.8rem;
                    margin: 0;
                }
                .para{
                    padding-top: 15px;
                    font-size: 1.2rem;
                    margin: 0px 0px 2.5rem;
                    margin-bottom: 30px;
                    width: 100%;
                    color: rgb(67, 67, 67);
                }
                .btn-mobail{
                    display: none;
                }
                .FormRow{
                    .Form{
                        .ant-radio{
                            font-size: 13px;
                        }
                        span.ant-radio + *{
                            padding-right: 40px;
                        }
               
                        .ant-radio-input{
                            box-shadow: none;
                            border: none;
                            outline: none;
                        }
                        .ant-radio-inner{
                            height: 20px;
                            width: 20px;
                        }
                        .ant-radio-inner::after{
                            height: 24px;
                            width: 24px;
                            background: rgb(230, 93, 93);
                            margin-top: -11.8px;
                            margin-left: -12.3px;
                        }
                        .ant-radio-checked .ant-radio-inner {
                            border-color: rgb(230, 93, 93);
                        }
                        .ant-radio-inner:hover{
                            border-color: rgb(217, 217, 217);
                            outline: none;
                        }
                        .ant-radio-wrapper{
                            font-size: 18px;
                        }
                        .ant-input{
                            font-size: 20px;
                            border-radius: .6rem;
                            padding: 6px 0px 6px 10px;
                        }
                        .ant-input:hover{
                            border: 1px solid #d9d9d9;
                        }
                        .ant-input:focus{
                            border: 1px solid #d9d9d9;
                            box-shadow: none;
                        }
                        .btn{
                            background-color: rgb(214, 28, 28);
                            height: 45px;
                            font-size: 18px;
                            border-radius: .6rem;
                            border: 0px ;
                        }
                        .ant-form-item-control-input-content{
                            display: flex;
                        }

                    }
                    .img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
.outRow3{
    margin-top: 4rem;
    .itemdiv{
        .atag{
            text-decoration: none;
            color: rgb(130, 130, 130);
            font-size: 1rem;
            line-height: 1.6;
            margin-right: 1rem;
        }
        .dots{
            display: inline-block;
            width: 0.3rem;
            height: 0.3rem;
            background: rgb(130, 130, 130);
            border-radius: 50%;
            margin-right: 1rem;
            margin-bottom: 0.35rem;
        }
    }
    .Row2{
        margin-top: 4rem;
    }
    .Row3{
        margin-top: 4rem;
        .atag{
            text-decoration: none;
            color: rgb(130, 130, 130);
            font-size: .9rem;
            line-height: 1.6;
            margin-right: 1rem;
        }
    }
    .Row4{
        margin: 50px 0;
        .atag{
            text-decoration: none;
            color: rgb(130, 130, 130);
            font-size: .9rem;
            line-height: 1.6;
            margin-right: 1rem;
        }
    }
}
@media screen and (min-width:495px) and (max-width:768px) {
    .homecontainer{
        .Row1{
            .heading{
                color: white;
                font-size: 5.6rem;
                margin: 0;
            }
            .para{
                color: white;
                font-size: 2.2rem;
                font-weight: 400px;
            }
        }
    }

    .outRow2{
        .innerRow1{
            padding-top: 40px;
            .Col2{
                .Cold2iv1{
                    .title{
                        font-size: 2rem;
                    }
                    .btn{
                        display: none;
                    }
                    .btn-mobail{
                        display: block;
                        background-color: rgb(214, 28, 28);
                        height: 45px;
                        font-size: 18px;
                        border-radius: .6rem;
                        border: 0px ;
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:"495px") {
    .homecontainer{
        .Row1{
            .para{
                color: white;
                font-size: 1.3rem;
                font-weight: 400px;
            }
            .low-res-image{
                height: 40px;
                margin-bottom: 30px;
            }
            .innerRow1{
                .innerdiv{
                    padding: .1rem 0px;
                    .ant-select-selector{
                        border-radius: 10px;
                    }
                    .vrBorder{
                        display: none;
                    }
                    .Col2{
                        position: absolute;
                        top: 60px;
                        width:100%;
                        .ant-input-affix-wrapper-lg {
                            font-size: 16px;
                            padding: 10px 10px;
                        }
                    }
                }
            }
        }
    }
    .outRow1{
        margin-top: 18px;
        .img{
            height: 180px;
        }
        .innerRow1{
            .img{
                height: 100px;
            }
            .card{
                .ant-card-body {
                    padding: 20px 9px;
                    .ant-card-meta-title{
                        margin-bottom: 0;
                        text-align: left;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 14px;
                    }
                    .paras{
                        line-height: 19px;
                    }
                }
            }
        }
        .innerRow2{
            .title{
                font-size: 22px;
                font-weight: 500;
            }
            .para{
                font-size: 15px;
                color: rgb(102, 102, 102);
            }
        }
        .innerRow4{
            .title{
                font-size: 21px;
                text-align: start;
            }
        }
        .innerRow5{
            .div1{
                .paramain{
                    font-size: 16px;
                }
            }
        }
    }
    .outRow2{
        .innerRow1{
           .Col1{
               display: none;
           } 
           .Col2{
               .Cold2iv1{
                   text-align: center;
                .title{
                    font-size: 2rem;
                }
                .para{
                    font-size: 15px;
                }
                .btn{
                    display: none;
                }
                .btn-mobail{
                    display: block;
                    background-color: rgb(214, 28, 28);
                    height: 45px;
                    font-size: 18px;
                    border-radius: .6rem;
                    border: 0px ;
                    width: 100%;
                }
               }
              
               .App_Download{
                   text-align: center;
                   color: rgb(151, 151, 151);
               }
           }
        }

    }
    .outRow3{
        .Explore_title{
            font-size: 22px;
            font-weight: 500;
            color: rgb(24, 24, 24);
        }
        .Comman_title{
            font-size: 20px;
            font-weight: 500;
            color: rgb(24, 24, 24);
        }
    }
}