.Nightlife_Container{
    .prevArrow{
        position: absolute;
        z-index: 3;
        left: -5px;
        top: 0rem;
        border-radius: 50%;
        height: 100%;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .prevArrowicon{
            border-radius: 50%;
            background-color: white;
            width: 100%;
            font-size: 2.5rem;
        }
    }
    .nextArrow{
        position: absolute;
        z-index: 3;
        top: 0rem;
        right: -10px;
        height: 100%;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .nextArrowicon{
                border-radius: 50%;
                background-color: white;
                width: 100%;
                font-size: 2.6rem;
            
        }
    }
    .Row1{
        padding: 30px 0;
        background-color: white;  
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 5;
        .Col1{
            .Space{
                flex-wrap: wrap;
                padding-right: 25px;
                .ant-btn:hover, .ant-btn:focus {
                    color: rgb(196, 196, 196);
                    border-color: rgb(177, 177, 177);
                    background: #fff;
                }
                .btn{
                    display: flex;
                    align-items: center;
                    border-radius: 7px;
                    height: 40px;
                    .span{
                        padding-left: 5px;
                        color: rgb(107, 104, 104);
                    }
                }
            }
        }
    }
    .Row2{
        margin-top: 1.5rem;
        .Title{
            color: rgb(28, 28, 28);
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
            margin: 0px 0px 1.7rem;
        }
    }
}
@media screen and (max-width:576px) {
    .Nightlife_Container{
        .Row1{
            overflow: auto;
            .Col1{
                .Space{
                    flex-wrap: nowrap;
                }
            }
        }
        .Row1::-webkit-scrollbar{
            display: none;
        }
        .Row2{
            .Title{
                font-size: 22px;
            }
        }
    }
}