.ant-popover-title{
    border-bottom: 0 ;
    .MoreFilter_Title{
        // color: red;
        font-size: 25px; 
        font-weight: 100;
        margin: 0;
        margin-top: 10px;
    }
}
.Filter_Morefilter{
    margin: 30px ;
    
    .MoreFilter_Input{
        border-radius: 3px;
        margin-bottom: 9px;
    }
    
    .ant-input-affix-wrapper:hover{
        border-color: #c2c2c2;
    }
    .ant-input-affix-wrapper-focused{
        border-color: black;
        box-shadow:none;
        &:hover{
            border-color: black;
        }
    }
    .Filter_Morefilter_body{
        height: 300px;
        overflow: auto;
    }
}
.Filter_Cuisines{
    padding-right: 10px;
    .MoreFilter_Input{
        border-radius: 3px;
        margin: 10px 0;
    }
    .ant-input-affix-wrapper:hover{
        border-color: #c2c2c2;
    }
    .ant-input-affix-wrapper-focused{
        border-color: black;
        box-shadow:none;
        &:hover{
            border-color: black;
        }
    }
}
.MoreFilter_Container{
    .ant-input-affix-wrapper:hover{
        border-color: #c2c2c2;
    }
    .ant-input-affix-wrapper-focused{
        border-color: black;
        box-shadow:none;
        &:hover{
            border-color: black;
        }
    }
    .MoreFilter_Input{
        border-radius: 4px;
        margin: 12px 0;
        .ant-input{
            font-size: 18px;
            height: 40px;
        }
    }
    .Checkbox_body{
        max-height: 200px;
        overflow: auto;
        width: 470px;
    }
    .MoreFilter-footer{
        .btn{
          background-color: rgb(239, 79, 95);
          border: none;
          border-radius: 6px;
          height: 40px;
          padding:  0 30px;
          &:hover{
            background-color: rgb(236, 59, 77);
          }
        }
      }
}
.Dining_Container{

    .div_previcon{
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 7px 1px rgb(189, 188, 188);
        background-color: white;
        .imgicon{
            width: 50%;
            border-radius: 50%;
        }
    }
    .prevArrow{
        position: absolute;
        z-index: 3;
        left: -5px;
        top: 0rem;
        border-radius: 50%;
        height: 100%;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .prevArrowicon{
            border-radius: 50%;
            background-color: white;
            width: 100%;
            font-size: 2.5rem;
        }
    }
    .nextArrow{
        position: absolute;
        z-index: 3;
        top: 0rem;
        right: -10px;
        height: 100%;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .nextArrowicon{
                border-radius: 50%;
                background-color: white;
                width: 100%;
                font-size: 2.6rem;
            
        }
    }
    .Row1{
        padding: 16px 0px;
        background-color: rgb(247, 247, 247);
        .Title{
            color: rgb(28, 28, 28);
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
        }
        .carddiv{
            padding: 0 10px;
        }
   
    }
    .TabRow1{
        padding: 30px 0;
        background-color: white;  
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 5;
        .Col1{
            .ant-btn:hover, .ant-btn:focus {
                color: rgb(196, 196, 196);
                border-color: rgb(177, 177, 177);
                background: #fff;
            }
            .Space{
                flex-wrap: wrap;
                padding-right: 20px;
                .btn{
                    display: flex;
                    align-items: center;
                    border-radius: 7px;
                    height: 40px;
                    .span{
                        padding-left: 5px;
                        color: rgb(107, 104, 104);
                    }
                }
            }
        }
    }
    .Row2{
        .Title{
            color: rgb(28, 28, 28);
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
        }
    }
}
@media screen and (max-width:576px) {
    .MoreFilter_Container{
        .Checkbox_body{
            width: 300px;
        }
    }
    .Dining_Container{
        .Row1{
            .Title{
                font-size: 22px;
            }
        }
        .TabRow1{
            overflow: auto;
            .Col1{
                .Space{
                    flex-wrap: nowrap;
                }
            }
        }
        .TabRow1::-webkit-scrollbar{
            display: none;
        }
        .Row2{
            .Title{
                font-size: 22px;
            }
        }
    }
}