.navbar {
    background-color:transparent;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20; 
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
    padding:0 7rem ;
    .item-hide{
      display: none;
    }
  }
  
  .nav-logo {
    color: white;
    align-items: center;
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    flex-grow: 1;
  }
}
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    .avtardiv{
      width: 5px;
      height: 5px;
      .avtar{
        width:30px;
        height:30px;
        border-radius: 50px;
      }
    }
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
    color: blueviolet;
  }
  
  .nav-item:hover:after {
    width: 100%;
  }
  
  .nav-item .active {
    color: #ffdd40;
    border-bottom: 3px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: white;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: .8rem;
      color: black;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: -12PX;
      left: 74px;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: white;
    }
    .nav-container{
      .nav-logo{
        display: none;
      }
    }
  }
