
.footer_Container{
    .Row1{
        background-color: rgb(248, 248, 248);
        padding:4rem 0;
        padding-bottom: 2rem;
        .innerRow1{
            margin-bottom: 30px;
            .img{
                height: 30px;
            }
            .Space{
                .btn{
                    display: flex;
                    align-items: center;
                    border-radius: 7px;
                    .imgicon{
                        width: 21px;
                    }
                    height: 40px;
                    .span{
                        padding-left: 5px;
                        color: rgb(107, 104, 104);
                    }
                    .DownOutlined{
                        margin-top: 5px;
                        color: rgb(141, 137, 131);
                    }
                }
                .ant-btn:hover, .ant-btn:focus {
                    color: rgb(192, 192, 192);
                    border-color: rgb(192, 192, 192);
                  }
            }
        }
        .itemmaindiv{
            -webkit-box-pack: justify;
            justify-content: space-between;
            width: 100%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .title{
                font-size: 1rem;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                font-weight: 500;
                margin: 0;
            }
            .para{
                font-size: 1rem;
                line-height: 2.1rem;
                color: rgb(105, 105, 105);
                margin: 0.5rem 0px;
            }
            .div1{
                position: relative;
                width: 100%;
                -webkit-box-flex: 0;
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 18.3333%;
                padding: 0px;
            }
            .div2{
                position: relative;
                width: 100%;
                -webkit-box-flex: 0;
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 19.1667%;
                padding: 0px;
            }
            .div3{
                position: relative;
                width: 100%;
                -webkit-box-flex: 0;
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 25%;
                padding: 0px;
                .Space{
                    gap: 0;
                }
            }
            .div4{
                position: relative;
                width: 100%;
                -webkit-box-flex: 0;
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 16.6667%;
                padding: 0px;
            }
            .div5{
                position: relative;
                width: 100%;
                -webkit-box-flex: 0;
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 18.3333%;
                padding: 0px;
                display: flex;
                flex-direction: column;
                justify-items: end;
                .icons{
                    font-size: 35px;
                    border-radius: 50%;
                }
                .ImgRow{
                    margin-top: 30px;
                }
                .appstoreimg{
                    width: 100%;
                }
            }
            .div6{
                position: relative;
                width: 100%;
                -webkit-box-flex: 0;
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 18.3333%;
                padding: 0px;
                display: flex;
                flex-direction: column;
                justify-items: end;
                display: none;
            }
        }
        .ant-divider {
            border-top: 1px solid rgba(0, 0, 0, 0.19);
        }
        .Rows2{
            .para{
                font-size: 1rem;
                color: rgb(105, 105, 105);
                margin: 0.5rem 0px;
            }
        }
    }
}

@media screen and (max-width:768px) and (min-width:459px) {
    .footer_Container{
        .Row1{
            .itemmaindiv{
                .div1{
                    max-width: 32.9%;
                }
                .div2{
                    max-width: 33%;
                }
                .div3{
                    max-width: 33.9%;
                }
                .div4{
                    max-width:33.3333%;
                }
                .div5{
                    max-width: 33.1667%;;
                }
                .div6{
                    display: block;
                    max-width: 33%;
                }
            }
        }
    }
    
}
@media screen and (max-width:468px) {
    .footer_Container{
        .Row1{
            .itemmaindiv{
                .title{
                    margin: 0;
                    margin-top: 10px;
                    font-weight: 500;
                }
                .div1{
                    max-width: 54%;
                }
                .div2{
                    max-width: 46%;
                }
                .div3{
                    max-width: 54%;
                    margin-top: 30px;
                    .br{
                        display: none;
                    }
                }
                .div4{
                    max-width: 46%;
                    margin-top: 30px;
                }
                .div5{
                    max-width: 100%;;
                    display: none;
                }
                .div6{
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }

}