.ordercmp_Container{
    position: static;
    .maindiv{
        width: 100%;    
        min-height: 70px;
        display: flex;
        align-items: center;
        position: static;
        .icondiv{
            display: none;
            .commanIcon{
                font-size: 25px;
            }
        }
        .imgdiv{
            width:145px;
            .img{
                width: 100%;
            }
        }
        .toggle-item-div{
            display: none;
        }

        .itemDiv{
            justify-self: end;
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            .innerdiv{
                background-color: white;
                padding: .3rem 10px;
                padding-right: 20px;
                border-radius: 0.8rem;
                border: 1px solid rgb(232, 232, 232);
                width: 70%;
                .Col1{
                    .ant-space{
                        width: 100%;
                    }
                    .ant-space-item{
                        width: 100%;
                    }
                    .itemdiv{
                        display: flex;
                        align-items: center;
                        .icon{
                            font-size: 25px;
                            width:"30px";
                            color: rgb(240, 125, 139);
                            flex-grow: 1;
                        }
                        .form{
                            flex-grow: 8;
                            .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
                                align-self: center;
                            }
                        }
                    }
                }
                .ant-form-item{
                    margin-bottom: 0;
                    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
                        border: 0px solid white;
                    }
                    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                        width: 100%;
                        height: 41px;
                        padding: 0 11px;
                    }
                    .ant-input-affix-wrapper {
                        border: 0;
                    }
                }
                .Col2{  
                    .ant-space{
                        width: 100%;
                    }
                    .ant-space-item{
                        width: 100%;
                    }
                    .vrBorder{
                        border-left: 2px solid rgb(170, 170, 170);
                        height: 30px;
                        padding: 2px 0;
                        margin-left: 13px;
                    }
                    .input-prefix{
                        margin: 2.8px 0.4rem 1px -1px;
                    }
                    .ant-input-affix-wrapper-focused{
                        box-shadow:none;
                    }
                }
            }
            .nav-menu{
                display: flex;
                list-style: none;
                margin: 0;
                .nav-item{
                    margin-right: 10px;
                    font-size: 20px;
                    .nav-links{
                        font-weight: 100;
                        color: rgb(145, 144, 144)  ;
                    }
                    .login{
                        margin-right: 16px;
                    }

                }
            }
        }
        .MobailView{
            display: none;
        }
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    .ordercmp_Container{
        .maindiv{
            display: flex;
            justify-content: space-between;
            .icondiv{
                display: block;
            }
            .itemDiv{
                display: none;
            }
            .toggle-item-div{
                display: block;
                position: absolute;
                background-color: white;
                width: 93%;
                height: 100%;
                top:50px;
                z-index: 11;
                margin-top: 50px;
                font-size: 20px;
            }
            .toggle-close{
                display: none;
            }
        }
    }
}
@media screen and (max-width:576px) {
    .ordercmp_Container{
        -webkit-box-shadow: 0 8px 4px -5px rgb(151, 151, 151);
        -moz-box-shadow: 0 8px 4px -5px rgb(158, 158, 158);
             box-shadow: 0 8px 4px -5px rgb(169, 169, 169);
        .maindiv{
            display: flex;
            justify-content: space-between;
            .icondiv{
                display: none;
            }
            .itemDiv{
                display: none;
            }
            .imgdiv{
                width:110px;
                .img{
                    width: 100%;
                }
            }
            .MobailView{
                display: block;
                .fulldiv{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .appbtn{
                        .btn{
                            background-color: red;
                            border-radius: 30px;
                            color: white;
                            font-weight: 800;
                        }
                    }
                    .userIcon{
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid rgb(172, 167, 167);
                        .UserOutlined{
                            font-size: 20px;
                            color: red;
                        }
                    }
                }
            }
        }
    }
}