.layout{
  background-color: white;
}
.ant-checkbox-checked .ant-checkbox-inner{
  background-color: rgb(239, 79, 95);
  border-color: rgb(239, 79, 95);
}
.ant-radio-inner::after{
  background-color: rgb(239, 79, 95);
}
.ant-radio-wrapper-focused{
  border-color: rgb(239, 79, 95);
}
html{
  --antd-wave-shadow-color:none
}

.ant-tag-checkable-checked:hover{
  color: black;
} 
.ant-checkbox-input:focus{
  box-shadow: 0 0 1px 1px #EE5B6A;
  border: 1px solid;
  color: #EE5B6A;
}
.ant-slider-dot-active{
  border-color: #EE5B6A;
}
.Tag-Container{
  display: flex;

  .ant-tag-checkable {
      cursor: pointer;
      border: 1px solid rgb(220, 220, 220);
      padding: 8px 10px;
      border-radius: 7px;
      &:hover{
          color: rgb(116, 115, 115);
      }
      font-size: 15px;
      color: rgb(116, 115, 115);
  }
  .ant-tag-checkable:active {
      background-color: transparent;
      color: #747373

  }
  .ant-tag-checkable-checked {
      background-color: rgb(224, 53, 69);
      color: white;
      &:hover{
          color: #fff;
      }
      &:active{
          color: #747373;
      }
  }
}


.Cuisines_Conainer{
  .ant-input-affix-wrapper:hover{
    border-color: #c2c2c2;
}
.ant-input-affix-wrapper-focused{
    border-color: black;
    box-shadow:none;
    &:hover{
        border-color: black;
    }
}
  .Checkbox_div{
    width: 510px !important; 
      max-height: 200px;
      overflow: auto;
      .ant-checkbox-input:hover{
          border: none;
          box-shadow:none;
      }
      .ant-checkbox-input:focus{
          border: none;
          box-shadow:none;
      }
  }
  .ant-input-affix-wrapper{
      margin-bottom: 13px;  
      border-radius: 10px;
      .ant-input{
          height: 35px;
      }
  }

  .Cuisines-footer{
    .btn{
      background-color: rgb(239, 79, 95);
      border: none;
      border-radius: 6px;
      height: 40px;
      padding:  0 30px;
      &:hover{
        background-color: rgb(236, 59, 77);
      }
    }
  }

}
@media screen and (max-width: 576px) {
  .Cuisines_Conainer{
    .Checkbox_div{
      width: 310px !important; 
    }
  }
}
