.Row4FoodCardCategory{
    .Title{
        color: rgb(28, 28, 28);
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: 500;
        margin: 0px 0px 3.2rem;
    }
    .CardRow{
        .card:hover{
             box-shadow: 0 0 7px 1px rgb(221, 218, 218);
        }
        .card{
            box-shadow: none;
            border: 0;
            border-radius: 15px;
            .ant-card-cover{
                position: relative;
                padding: .5rem;
                height: 250px;
                .img{
                    object-fit: cover;
                    height: 100%;
                    border-radius: 15px;
                }
            }
            .ant-card-body{
                padding: .5rem;
            }
            .discountdiv{
                color: white;
                display: flex;
                position: absolute;
                top: 210px;
                width:87%;
                justify-content: end;
               .mindiv{
                   background-color: rgb(214, 216, 218);
                   border-radius: 7px;
                   padding: 0 10px;
                   color: black;
                   text-align: center;
                   justify-self: end;
               }
            }
            .titlediv{
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                .Ttdiv{
                    max-width: 230px;
                }
                .title{
                    line-height: 1.2;
                    margin-block-end: 0px;
                    text-align: left;
                    font-size: 1.2rem;
                    margin: 0;
                    max-width: 100%;
                    color: rgb(28, 28, 28);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 500px;
                }
                .badge{
                    background-color: rgb(61, 150, 63);
                    border-radius: 7px;
                    .space{
                        padding:  0 5px;
                        .para{
                            margin: 0;
                            color: white;
                        }
                        .stardiv{
                            display: flex;
                            align-items: center;
                            .staricon{
                                color: white;
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            .description_div{
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                .para{
                    margin-bottom: .3rem;
                }
                .Desc_1{
                    width: 60%;
                }
                .Desc_2{
                    width: 40%;
                    text-align: end;
                }
            }
            .descRow{
                .Para{
                    margin: 0;
                    color: rgb(134, 134, 134);
                }
            }
        }
    }
}

@media screen and (max-width:475px) {
    .Row4Card3{
        .CardRow{
            .card{
                 box-shadow: 0 0 7px 1px rgb(221, 218, 218);
                 cursor: pointer;
            }
        }
    }
}
@media screen and (min-width:475px) and (max-width:768px){
    .Row4Card3 {
        .CardRow {
            .card {
                .titlediv {
                    .Ttdiv {
                        max-width: 152px;
                    }
                }
            }
        }
    }
}